@font-face { font-family: "Fira Sans"; src: local("Fira Sans Regular"), url("FiraSans-Regular.otf") format("truetype"); font-weight: 400; font-style: normal; }
@font-face { font-family: "Fira Sans"; src: local("Fira Sans Italic"), url("FiraSans-Italic.otf") format("truetype"); font-weight: 400; font-style: italic; }
@font-face { font-family: "Fira Sans"; src: local("Fira Sans Bold"), url("FiraSans-Bold.otf") format("truetype"); font-weight: 600; font-style: normal; }
@font-face { font-family: "Fira Sans"; src: local("Fira Sans Bold Italic"), url("FiraSans-BoldItalic.otf") format("truetype"); font-weight: 600; font-style: italic; }
@font-face { font-family: "Consolas"; src: local("CMU Typewriter Text Regular"), url("cmuntt.otf") format("truetype"); font-weight: 400; font-style: normal; }
@font-face { font-family: "Consolas"; src: local("CMU Typewriter Text Italic"), url("cmunit.otf") format("truetype"); font-weight: 400; font-style: italic; }
@font-face { font-family: "Consolas"; src: local("CMU Typewriter Text Bold"), url("cmuntb.otf") format("truetype"); font-weight: 600; font-style: normal; }
@font-face { font-family: "Consolas"; src: local("CMU Typewriter Text BoldItalic"), url("cmuntx.otf") format("truetype"); font-weight: 600; font-style: italic; }

body {
	font-family: "Fira Sans";
}
h1, h2, h3, h4, h5, h6, body, pre, code {
	/* undo asocial rtd inaccessibility */
	color: #1f1f1f;
	font-family: "Fira Sans";
}
p {
	/* undo more rtd uglyness */
	font-size: 100%;
}

a {
	color: #005A8A;
}
a:hover {
	color: #2DCAFF;
}
a:active, a:visited {
	color: #0072B0;
}

.wy-side-nav-search>a img.logo, .wy-side-nav-search .wy-dropdown>a img.logo {
	width: 100%;
}
.wy-side-nav-search {
	background: #1f1f1f;
}
.wy-nav-side {
	background: #1f1f1f!important;
}

.wy-menu-vertical p.caption {
	color: #0CA7FB;
}
.wy-menu-vertical a {
	color: #efefef;
}
.wy-menu-vertical a:visited {
	color: #efefef;
}
.wy-menu-vertical a:visited:hover {
	color: #2dcaff;
}
.wy-menu-vertical a:hover {
	color: #2dcaff;
}
.wy-menu-vertical a:active {
	color: #fcfcfc;
}

@media screen and (min-width: 1400px) {
	.wy-nav-content {
		background-color: transparent;
	}
}
.wy-nav-top {
	background-color: black;
	background-image: url('../img/logolight.png');
	background-position: 50% 50%; 
	background-repeat: no-repeat;
	background-size: auto 30px;
}
.wy-nav-top a {
	font-size: 0px;
}
.wy-nav-content-wrap {
	background-color: white;
	background-image: url('../img/back_web.png');
	background-position: right top; 
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.wy-nav-content {
	background-color: transparent;
	max-width: 100%;
}
* {
	scrollbar-width: thin;
	scrollbar-color: #3f3f3f #2dcaff;
}
*::-webkit-scrollbar {
	width: 12px;
}
*::-webkit-scrollbar-track {
	background: #3f3f3f;
}
*::-webkit-scrollbar-thumb {
	background-color: #2dcaff;
	border-radius: 20px;
	border: 3px solid #3f3f3f;
}
.wy-table-responsive table td, .wy-table-responsive table th {
	white-space: normal;
}
